body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.container {
    padding: 15px;
}

.product-card, .cart-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.product-card img, .cart-item img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: block;
    background: #111;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
}